.cycles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.cycleDots {
  display: flex;
  gap: 0.4rem;
}

.cycleDot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.workTime {
  background-color: var(--warning);
}
.shortBreakTime {
  background-color: var(--primary);
}

.longBreakTime {
  background-color: var(--info);
}
